/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
/* font-family: "Circular Std Book"; */
@import url("https://db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book");
/* font-family: "Circular Std Medium"; */
@import url("https://db.onlinewebfonts.com/c/9475d6a0b79c164f9f605673714e75d9?family=Circular+Std+Medium");
/* font-family: "Circular Std Bold"; */
@import url("https://db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold");

@tailwind base;

@layer components {
  a {
    @apply inline-block link-transition cursor-pointer;
  }
  .btn {
    @apply px-[35px] py-[15px] border rounded-[32.5px] text-xs tracking-[normal] inline-block link-transition;
  }

  .btn--transp-green {
    @apply text-complementary-green hover:text-complementary-white hover:bg-complementary-green;
  }

  .btn--green-white {
    @apply bg-complementary-green text-complementary-white hover:text-complementary-green hover:bg-complementary-white;
  }

  .nav--link {
    @apply font-circular-book text-xs cursor-pointer hover:text-complementary-green;
  }

  .link-transition {
    @apply transition-all duration-300 ease-in-out;
  }
}
@tailwind components;
@tailwind utilities;

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-swing {
  animation: swing 1s ease-in-out infinite;
  transform-origin: bottom center;
}

@keyframes breath {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.animate-breath {
  animation: breath 1.5s ease-in-out infinite;
  transform-origin: bottom center;
}

@keyframes fly {
  from {
    transform: rotate(-20deg) translateY(300px) scale(8);
  }
}

.rocket {
  animation-name: fly;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  pointer-events: initial;

  transition: opacity 2250ms ease-in-out, visibility 2250ms ease-in-out;
}
